[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "pwd",
  "ls -la",
  "test -f package.json || (echo 'ERROR: package.json not found!' && exit 1)",
  "npm run install-all"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "bash start.sh"

